# Practice    
# Enjoy^_^

# Calculating Average of Numbers Using Functions

In [ ]:
def calculate_average(list1):


    total = sum(list1)
    average = total / len(list1)

    return average
list1 = [1 , 5 ,3 ,4 ,5]
print(calculate_average(list1))

ragab

# Finding the Longest Word in a List

In [ ]:
def max_word(string_list):
    max=0
    for string in string_list:
        if len(string)>max:
            max=len(string)
            strr=string
    return strr
print(max_word(["abdo" , "ragab" , "ras"]))

ragab

# Checking if a Number is Prime

In [ ]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2,num):
        if num % i == 0:
            return False
    return True
num = int(input())
is_prime(num)

# Converting Temperature Units

In [ ]:
def TempUnit_Conv(Temp_inC , unit ):
  if unit == "Kelvin":
    Temp= Temp_inC + 273
  else:
    Temp = (Temp_inC * 9/5) + 32

  return Temp

print (TempUnit_Conv(27 , "Kelvin" ))
print (TempUnit_Conv(27 , "fahrenheit" ))

300
80.6

# Generating a List of Squares Using List Comprehension and Functions

In [ ]:
def generate_squares(start, end):
  return [x**2 for x in range(start, end+1)]

# Converting a List of Strings to Uppercase

In [ ]:
def StringToUpper(strings):
    return [s.upper() for s in strings]
bo=["abdo", "ragab", "body","abdo"]
print(StringToUpper(bo))

Enter The Stringsabdo ragab mohamed
['ABDO RAGAB MOHAMED']

# Calculating the Total Price Including Tax

In [ ]:
def calculate_total_price(price, tax_rate):
    total_price = price * (1 + tax_rate)
    return total_price

# Finding the Minimum and Maximum Values in a List

In [ ]:
Copydef find_min_max(numbers):
    return min(numbers), max(numbers)

# Counting the Frequency of Each Character in a String

In [1]:
def count_char_frequency(string):
    char_freq = {}
    for char in string:
        if char in char_freq:
            char_freq[char] += 1
        else:
            char_freq[char] = 1
    return char_freq